%svg-common {
	background: url("sprite.svg") no-repeat;
}

.svg-envelop {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-envelop-dims {
	width: 16px;
	height: 16px;
}

.svg-price-tag {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-price-tag-dims {
	width: 16px;
	height: 16px;
}

