- var user = { description: 'foo bar baz' }
- var authorised = false


.container
	.row
		.col-md-2.
			1
		.col-md-2.
			2
		.col-md-2.
			3
		.col-md-2.
			4
		.col-md-2.
			5
		.col-md-2.
			6
.container
	.row
		.col-md-2
			div#user
				p.description= user.description	


