

doctype html
html(lang="ru")
  head
    title pageTitle
    link(href='/css/all.min.css', rel='stylesheet')
    
  body
    include components/header.jade
    h1 Jade - node template engine fsdfs
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.
        fadafdfa dada
          span
    h2 Header
    div.container
      div.row
        div.col-md-6.
          fsdsfsfsdfsfsdfsdfsdfsf 1 
        div.col-md-6.
          fsdsfsfsdfsfsdfsdfsdfsf 2
    div.container
      div.row
        div.col-md-4.
          fsdsfsfsdfsfsdfsdfsdfsf 1 
        div.col-md-4.
          fsdsfsfsdfsfsdfsdfsdfsf 2
        div.col-md-4.
          fsdsfsfsdfsfsdfsdfsdfsf 2

    include components/footer.jade


