$main-color: #fff;
$center-size: 960px;
$center-margi: 0 auto;

.header {
	
	width: $center-size;
	margin: $center-margi;
	border-radius: 3px;
	
	&__logo {
		width: 450px;
		height: 460px;
		background: url(/images/1.jpg);
		display: flex;
		
		
	}
}

body {
	padding: 30px;
	color: #FFF;
	background-color: #f5f5f5;
}

li {
	color: #00f;
	font-size: 50px;
}